// Flexbox Detect

@mixin flexbox($position: 'null', $variation: 'center') {
  @if map_has_key($flex_variations, $variation) {
    display: flex;
    flex-wrap: wrap;
    @if $position == 'h' {
      justify-content: unquote($variation);
    }
    @else if $position == 'v' {
      align-content: unquote($variation);
      align-items: unquote($variation);
    }
    @else if $position == 't' {
      justify-content: unquote($variation);
      align-content: unquote($variation);
      align-items: unquote($variation);
    }
  }
}



// Media Queries

@mixin media($breakpoint, $type: min) {
  @if map_has_key($breakpoints, $breakpoint) {
    $width: map_get($breakpoints, $breakpoint);
    @if $type == max {
      $width: $width - .1rem;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}



// Theme - Default values for `default-theme`


@mixin theme( $theme_name, $theme_color: $azure_radiance, $theme_header: $theme_color, $theme_danger: $monza, $theme_secondary: $aqua_haze, $theme_text_color: $scorpion, $theme_light_grey: $wild_sand, $theme_text_shadow: $text_shadow, $theme_div_shadow: $block_shadow, $theme_buttons_shadow: $buttons_shadow ) {

  .#{$theme_name} {
    color: $theme_text_color;

    .view-wrapper {
      background-color: $theme_secondary;
      &--home:before,
      &--signup:before {
        background-color: $theme_color;
        box-shadow: $theme_div_shadow;
      }
    }

    .title {
      color: $white;
      text-shadow: $theme_text_shadow;
    }

    .default-link {
      color: $theme_color;
      &:hover {
        color: darken($theme_color, 25%);
      }
      &--danger {
        color: $theme_danger;
        &:hover {
          color: $theme_danger;
        }
      }
    }

    .form {
      box-shadow: $theme_div_shadow;
      &--edit-desktop {
        background: $white;
      }
      &--edit-desktop:before {
        border-left: 1rem solid transparent;
        border-right: 1rem solid $white;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        box-shadow: $theme_buttons_shadow;
      }
      > .form_arrow {
        box-shadow: 0 1rem .75rem -1.05rem rgba(black, .15);
      }
      
      > .form_arrow:before {
        background: $white;
        box-shadow: -0.2rem -0.2rem 0.25rem -0.1rem rgba(black,.15);
      } 
    }



    .form__field {
      > .form__field__input {
        border-bottom: .1rem solid darken($theme_secondary, 25%);
        color: lighten($theme_text_color, 15%);
        &.active {
          border-bottom: .1rem solid $theme_color;
        }
        &--mobile-edit {
          border-bottom: .1rem solid darken($theme_secondary, 10%);
        }
      }

      > .form__field__input.active ~ .form__field__title {
        color: $theme_color;
      }
      > .form__field__title--edit-mobile,
      > .form__field__input.active ~ .form__field__title--edit-mobile,
      > .form__field__title--edit-desktop,
      > .form__field__input.active ~ .form__field__title--edit-desktop {
        color: lighten($theme_text_color, 30%);
      }
    }

    .default-button {
      background-color: $white;
      border: .1rem solid $theme_color;
      box-shadow: transparent;
      color: lighten($theme_color, 20%);
      &:hover {
        background-color: $theme_color;
        box-shadow: $theme_buttons_shadow;
        color: $white;
      }
      &--danger {
        border: .1rem solid $theme_danger;
        color: lighten($theme_danger, 20%);
        &:hover {
          background-color: $theme_danger;
        }
      }
      &--transparent {
        background-color: transparent;        
        border: .1rem solid transparent;
        &:hover {
          background-color: transparent;
          border: .1rem solid $theme_color;
          color: $theme_color;
        }
      }
      &--upload {
        border: .05rem solid darken($theme_secondary, 10%);
        box-shadow: transparent;
        color: darken($theme_light_grey, 20%);
        &:hover {
          background-color: $theme_secondary;
          box-shadow: $theme_buttons_shadow;
          color: $theme_text_color;
        }
        > i {
          color: darken($theme_secondary, 10%);
        }     
      }
    }

    .header {
      @include media('md') {
        background-color: $white;
        box-shadow: $block_shadow;
      } 
    }

    .review-starts {
      color: $theme_color;
      @include media('md') {
        color: lighten($scorpion, 15%);
      }
    }

    .data-list__item {
      color: lighten($theme_text_color, 20%);
    }
  
    .options__menu {
      background-color: $white;
      box-shadow: $block_shadow;
      @include media('md') {
        box-shadow: none;
      }
      > .options__menu__items {
        > span:before {
          background-color: trasnsparent;
        }
        &:hover > span:before,
        &.active > span:before {
          background-color: $theme_color;
        }
      }
    }
    
    .data-edit {
      background-color: $white;
      box-shadow: $block_shadow;
      > .data-edit__list {
        box-shadow: $block_shadow;
        @include media('md') {
          box-shadow: none;
        }
      }
      > .data-edit__list > .data-list__item {
        &:hover,
        &.active {
          background-color: $theme_secondary;
        }
      }
      header > .ion-edit,
      > .data-edit__list > .data-list__item > .ion-edit {
          background-color: darken($theme_secondary, 5%);
          color: lighten($theme_text_color, 20%);
          @include media('md') {
          background-color: transparent;
        }
        &:hover,
        &.active {
          background-color: $theme_color;
          color: $white;
        }
      }
      > header > .data-edit__option {
        color: lighten($theme_text_color, 30%);
      }
    }

    .user-draw {
      @include flexbox('t');
      background-color: $theme_color;
      box-shadow: $theme_buttons_shadow;
      > .head,
      > .body {
        background-color: $white;
        box-shadow: $theme_buttons_shadow;
      }
    }
  }
}