// ========== Fonts ==========

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i');
$primary-font-family: 'Ubuntu',Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;

// ========== Breakpoint ==========

$breakpoints: (
  "xs": 30rem,
  "sm": 35.5rem,
  "md": 48rem,
  "lg": 64rem,
  "xl": 80rem
);

// ========== Colours ==========
// http://chir.ag/projects/name-that-color for names

$scorpion: #4a4a4a; // primary font color
$azure_radiance: #007FE3; // Main Color
$monza: #E4001B; // Danger highlight
$aqua_haze: #F4F8F9; // Light Background
$wild_sand: #f5f5f5; // light gray background
$white: white;



// ========== Shadows ==========
$block_shadow: 0 0 .1rem .15rem darken($wild_sand, 5%);
$buttons_shadow: 0 .15rem .35rem $scorpion;
$text_shadow: .1rem .1rem .35rem $scorpion;

// ========== common transitions ==========

$fast_transition: all .25s;
$normal_transition: all .5s;

// ========== flex variations ==========

$flex_variations: (
  "default": true,
  "center": true,
  "flex-end": true,
  "flex-start": true,
  "space-between": true
);