<div class="form form--signup">
  <div class="user-draw">
    <span class="head"></span>
    <span class="body"></span>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input" id="name" required>
    <label class="form__field__title">Name</label>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input" id="email" required>
    <label class="form__field__title">Email</label>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input" id="user-name" required>
    <label class="form__field__title">Username</label>
  </div>
  <div class="form__field">
    <input type="password" class="form__field__input" id="password" required>
    <label class="form__field__title">Password</label>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input" id="direction" required>
    <label class="form__field__title">Direction</label>
  </div>
  <div class="form__field">
    <input type="text" class="form__field__input" id="web-page" required>
    <label class="form__field__title">Webpage</label>
  </div>
  <div class="form__field">
    <input type="text" class="form__field__input" id="phone" required>
    <label class="form__field__title">Phone</label>
  </div>
    <button class="default-button default-button--form default-button__signup-form">Signup</button>
</div>