.data-list {
  font-size: .8rem;
  text-align: left;
  width: 100%;
  &--header {
    @include media('md')  {
    width: calc(100% - 13rem);
  }
  }
  &--header > .data-list__item {
    margin-bottom: .5rem;
    @include media('md') {
      &:nth-child(1) {
        justify-content: center;
      }
      &:nth-child(2) {
        justify-content: space-between;
      }
      &:nth-child(2) > h2 {
        width: 60%;
      }
    }
  }
  > .data-list__item {
    @include flexbox('v');
    position: relative;
    width: 100%;
    i {
      font-size: 1.25rem;
      margin-right: .5rem;
    }
  }
  &--edit {
    > .data-list__item {
      padding: .5rem 0 .5rem 1.25rem;
      @include media('md') {
        justify-content: space-between;
        max-width: 50%;
      }
    }
  }
}