.data-edit {
  margin-top: 1rem;
  padding: 1rem 0 0;
  width: 100%;
  @include media('md') {
    margin-top: 2rem;
    padding: 1rem 0;
  }
  > header {
    @include flexbox('h', 'space-between');
    align-items: center;
    padding: 1rem;
    @include media('md') {
      padding: 0 1rem;
    }
  }
  > header > .data-edit__option {
    font-weight: normal;
    @include media('md') {
      margin-bottom: 1rem;
    }
  }
  > header > .data-edit__name  {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;
    width: 100%;
    @include media('md') {
      margin-top: 0;
    }
  }
}