.default-button {
  cursor: pointer;
  border-radius: .25rem;
  transition: $fast_transition;
  &:hover {
    transform: translateY(-.25rem);
  }
  &--form,
  &--transparent {
    text-transform: uppercase;
    font-weight: bold;
  }
  &--transparent,
  &--profile-desktop {
    padding: .5rem 1rem;
  }
  &--form {
    padding: .5rem 1rem;
  }
  &--upload {
    font-size: 1.25rem;
    padding: .5rem 1rem;
    > .ion-android-camera {
      margin-right: 1rem;
    }
  }
}