.flexbox-container {
  @include flexbox();
  &--center-total {
    @include flexbox('t', 'center');
  }
  &--center-horizontal {
    @include flexbox('h', 'center');
  }
  &--vertical-start {
    @include flexbox('v', 'flex-start');
  }
}