.form {
  background-color: $white;
  border-radius: .25rem;
  padding: 1rem;
  position: relative;
  &--login,
  &--signup {
    @include flexbox('h', 'center');
    margin-bottom: 2rem;
    width: 80%;
    @include media('md') {
      padding: 2rem;
      width: 50%;
    }
  }
  > .form__link {
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
  }
  &--edit-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 17.5rem;
    position: absolute;
    right: -17rem;
    z-index: 1;
    > .form_arrow {
      height: 2.5rem;
      left: -2.5rem;
      position: absolute;
      overflow: hidden;
      top: calc(50% - 1.25rem);
      width: 2.5rem;
      z-index: 1;
    }
    > .form_arrow:before {
      content: "";
      height: 2.5rem;
      right: -1.75rem;
      transform: rotate(315deg);
      position: absolute;
      width: 2.5rem;
      z-index: 1;
    }
  }
}

