.options {
  width: 100%;
  > .options__menu {
    @include flexbox('v');
    justify-content: space-between;
    width: 100%;
  }
  > .options__menu > .options__menu__items {
    cursor: pointer;
    font-size: .85rem;
    padding: .75rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 25%;
    @include media('md') {
      width: auto;
    }
    > span {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: -.75rem;
        height: .11rem;
        transition: $fast_transition;
        width: 100%;
      }
    }
    &:last-child {
      @include media('md') {
        @include flexbox('h', 'flex-end');
        align-items: center;
        cursor: unset;
        width: 35%;
      }
    }
    &:last-child > .-number {
      margin: 0 1rem;
    }
  }
}