.user-draw {
  @include flexbox('t');
  border-radius: 50%;
  height: 5rem;
  margin-bottom: .5rem;
  width: 5rem;
  > .head{
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem  ;
  }
  > .body {
    border-radius: 10rem;
    margin-top: -.1rem;
    height: 2rem;
    width: 3.25rem;
  }
}
