.view-wrapper {
  @include flexbox('t');
  min-height: 100vh;
  padding: 0 0 2rem;
  position: relative;
  width: 100%;
  &--home:before,
  &--signup:before {
    background-image: url('../images/texture.png');
    content: '';
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  &--profile {
    align-content: center;
    @include media('md') {
      align-content: flex-start;
    }
  }
}