<section class="data-edit data-edit--desktop data-edit--about">
  <header>
    <h2 class="data-edit__option">About</h2>
  </header>
  <ul class="data-edit__list data-list data-list--edit">
    <li class="data-list__item">
      <h3 class="data-edit__name">
        nameValue
      </h3>
      <i class="ion-edit -edit" data-value="nameValue" data-name="name" data-placeholder="Name"></i>
    </li>
    <li class="data-list__item">
      <div>
        <i class="ion-email"></i>
        emailValue
      </div>
      <i class="ion-edit -edit" data-value="emailValue" data-name="email" data-placeholder="Email"></i>
    </li>
    <li class="data-list__item">
      <div>
        <i class="ion-android-globe"></i>
        webpageValue
      </div>
      <i class="ion-edit -edit" data-value="webpageValue" data-name="webpage" data-placeholder="Website"></i>
    </li>
    <li class="data-list__item">
      <div>
        <i class="ion-android-call"></i>
        phoneValue
      </div>
      <i class="ion-edit -edit" data-value="phoneValue" data-name="phone" data-placeholder="Phone Number"></i>
    </li>
    <li class="data-list__item">
      <div>
        <i class="ion-ios-location-outline"></i>
        directionValue
      </div>
      <i class="ion-edit -edit" data-value="directionValue" data-name="direction" data-placeholder="City, State & Zip"></i>
    </li>
  </ul>
</section>






