<header class="header header--profile">
  <button class="default-button default-button--profile-desktop" id="logout">Log out</button>
  <section class="header__profile-data flexbox-container flexbox-container--center-horizontal">
    <figure class="header__profile-data_image"></figure>
    <ul class="header__profile-data-list data-list data-list--header">
      <li class="data-list__item">
        <input id="upload-image" type="file" class="hidden">
        <label class="default-button default-button--upload" for="upload-image">
          <i class="ion-android-camera"></i>
          Upload Cover Image
        </label>
      </li>
      <li class="data-list__item">
        <h2 class="header__profile-data__name">
          ${this.user.name}
        </h2>
        <article class="review-starts">
          <i class="ion-android-star"></i>
          <i class="ion-android-star"></i>
          <i class="ion-android-star"></i>
          <i class="ion-android-star"></i>
          <i class="ion-android-star-outline"></i>
        </article>
        <i class="-number">${this.user.reviews}</i>
        Reviews
      </li>
      <li class="data-list__item">
        <i class="ion-ios-telephone-outline"></i>
        ${this.user.phone}
      </li>
      <li class="data-list__item">
        <i class="ion-ios-location-outline"></i>
        ${this.user.direction}
      </li>
      <section class="options options--desktop">
        <ul class="options__menu">
          <li class="options__menu__items swap_option active" name="about"><span name="about">About</span></li>
          <li class="options__menu__items swap_option" name="settings"><span name="settings">Settings</span></li>
          <li class="options__menu__items swap_option" name="option1"><span name="option1">Option1</span></li>
          <li class="options__menu__items swap_option" name="option2"><span name="option2">Option2</span></li>
          <li class="options__menu__items swap_option" name="option3"><span name="option3">Option3</span></li>
          <li class="options__menu__items">
            <i class="ion-ios-plus -big"></i>
            <i class="-number">${this.user.followers}</i>
            Followers
          </li>
        </ul>
      </section>
    </ul>
  </section>
</header>