<section class="data-edit data-edit--desktop data-edit--settings">
  <header>
    <h2 class="data-edit__option">Settings</h2>
  </header>
  <ul class="data-edit__list data-list data-list--edit">
    <li class="data-list__item">
      <div>
        <i class="ion-email"></i>
        Verify Email
      </div>
      <i class="ion-edit"></i>
    </li>
    <li class="data-list__item">
      <div>
        <i class="ion-android-globe"></i>
        Activate two factor login
      </div>
      <i class="ion-edit"></i>
    </li>
    <li class="data-list__item">
      <div>
        <i class="ion-android-call"></i>
        Change background
      </div>
      <i class="ion-edit"></i>
    </li>
  </ul>
</section>
