<div class="form form--login">
  <div class="user-draw">
    <span class="head"></span>
    <span class="body"></span>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input" id="user-name" required>
    <label class="form__field__title">Username</label>
  </div>
  <div class="form__field">
    <input type="password" class="form__field__input" id="password" required>
    <label class="form__field__title">Password</label>
  </div>
  <a href="#/signup" class="default-link form__link">Don't have an account yet? Sign up now!</a>
  <button class="default-button default-button--form default-button__login-form">Login</button>
</div>