<main class="flexbox-container flexbox-container--center-horizontal flexbox-container--vertical-start main-section main-section--profile">
  <section class="data-edit data-edit--mobile">
    <header>
      <h2 class="data-edit__option">About</h2>
      <i class="ion-edit -edit"></i>
      <h3 class="data-edit__name">nameValue</h3>
    </header>
    <ul class="data-edit__list data-list data-list--edit">
      <li class="data-list__item">
        <i class="ion-email"></i>
        emailValue
      </li>
      <li class="data-list__item">
        <i class="ion-android-globe"></i>
        webpageValue
      </li>
      <li class="data-list__item">
        <i class="ion-android-call"></i>
        phoneValue
      </li>
      <li class="data-list__item">
        <i class="ion-ios-location-outline"></i>
        directionValue
      </li>
    </ul>
  </section>
</main>
