<header>
  <h2 class="data-edit__option">About</h2>
  <button class="default-button default-button--transparent" id="cancel_save">Cancel</button>
  <button class="default-button default-button--transparent" id="save">Save</button>
</header>
<div class="form form--edit-mobile">
  <div class="form__field field">
    <input type="text" class="form__field__input form__field__input--mobile-edit active" value="nameValue" id="name" required>
    <label class="form__field__title form__field__title--edit-mobile">Name</label>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input form__field__input--mobile-edit active" value="emailValue" id="email" required>
    <label class="form__field__title form__field__title--edit-mobile">Email</label>
  </div>
  <div class="form__field">
    <input type="text" class="form__field__input form__field__input--mobile-edit active" value="webpageValue" id="web-page" required>
    <label class="form__field__title form__field__title--edit-mobile">Website</label>
  </div>
  <div class="form__field">
    <input type="text" class="form__field__input form__field__input--mobile-edit active" value="phoneValue" id="phone" required>
    <label class="form__field__title form__field__title--edit-mobile">Phone Number</label>
  </div>
  <div class="form__field field">
    <input type="text" class="form__field__input form__field__input--mobile-edit active" value="directionValue" id="direction" required>
    <label class="form__field__title form__field__title--edit-mobile">City, State & Zip</label>
  </div>
</div>